/* Server Members */
.nameAndDecorators-3ERwy2 *:nth-child(2) {
    margin-left: auto !important;
}


/* DM's */
.nameAndDecorators-2A8Bbk *:nth-child(2) {
    margin-left: auto !important;
}

.layout-1LjVue {
    width: 100%;
}
