* {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

/* Background */
    .container-1eFtFS {
        backdrop-filter: blur(5px);
    }

    .wrapper-3HVHpV {
        background: none;
    }

    .layers-OrUESM, .container-2RRFHK {
        background: url(https://github.com/MRAJEKO/discord-themes/raw/master/src/wallpaper2.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }


/* Server List */
    .wrapper-1_HaEi {
        background-color: rgba(0, 0, 0, 0.493) !important;
    }

    .expandedFolderBackground-1kSAf6  {
        background-color: rgba(112, 112, 112, 0.329) !important;
    }

    .folder-241Joy {
        background: none;
    }

    .folder-241Joy:hover {
        background-color: rgba(0, 0, 0, 0.178);
    }

/* Channels */
    .sidebar-1tnWFu, .container-1NXEtd, .animatedContainer-2laTjx, .container-1-ERn5, .privateChannels-oVe7HL, .scroller-WSmht3, .container-ZMc96U {
        background-color: rgba(0, 0, 0, 0.329) !important;
    }

    .containerDefault-YUSmu3 {
        border-radius: 10px;
        margin-left: 10px;
    }

    .selected-2TbFuo {
        background-color: rgba(255, 255, 255, 0.151) !important;
    }

    .wrapper-NhbLHG .content-1gYQeQ {
        transition: all 0.5s ease;
    }

    li:not(.selected-2TbFuo) .wrapper-NhbLHG:hover .content-1gYQeQ {
        background-color: rgba(255, 255, 255, 0.068) !important;
        border-radius: 10px;
        transform: scale(0.95);
    }

    .content-1gYQeQ:has(.children-1MGS9G .channelInfo-3jN1ay .mentionsBadge-3H1BKJ) .mainContent-20q_Hp .name-28HaxV {
        color: #f23f42;
        font-weight: bold;
    }

    .content-1gYQeQ:has(.children-1MGS9G .channelInfo-3jN1ay .mentionsBadge-3H1BKJ) {
        overflow: visible !important;
    }

    .content-1gYQeQ .children-1MGS9G {
        display: none;
    }


    .content-1gYQeQ .children-1MGS9G:has(.channelInfo-3jN1ay .mentionsBadge-3H1BKJ) {
        display: block;
        position: absolute;
        left: -12px;
    }

    .content-1gYQeQ .children-1MGS9G:has( .channelInfo-3jN1ay .mentionsBadge-3H1BKJ) .channelInfo-3jN1ay {
        margin: 0;
    }

    .numberBadge-37OJ3S {
        display: block !important;
    }

    .selected-2TbFuo .name-28HaxV {
        color: white;
    }

    .selected-2TbFuo .content-1gYQeQ {
        background-color: transparent !important;
    }

    .emojiColorFill-3g46kH {
        background-color: transparent !important;
    }

    .mainContent-20q_Hp {
        flex-direction: row-reverse;
    }

/* User area */
.panels-3wFtMD {
    background-color: rgba(0, 0, 0, 0.507);
}

.container-YkUktl {
    background: none !important;
}

/* Chat */
    /* Send Message */
        .inner-NQg18Y, .chat-2ZfjoI, .channelTextArea-1FufC0 {
            background: none !important;
        }  

        .scrollableContainer-15eg7h {
            background: rgba(255, 255, 255, 0.123);
            border-radius: 22px;
        } 

        .form-3gdLxP {
            margin-top: 0;
        }

        /* Reply */
            .replyBar-1oi75v {
                background-color: transparent;
            }

            .attachedBars-2BCP3l {
                background-color: rgba(0, 0, 0, 0.308);
                border-radius: 10px;
            }
        
        /* Autocomplete */
            .autocomplete-3NRXG8 {
                background-color: rgba(0, 0, 0, 0.815) !important;
                border-radius: 10px;
            }

        /* Pickers */
            .contentWrapper-3vHNP2 {
                background-color: rgba(0, 0, 0, 0.801);
            }

            .searchBar-3aIzc-, .container-1SX9VC {
                background-color: rgba(51, 51, 51, 0.452) !important;
                border-radius: 10px;
            }
            
            .packHeader-w9jpYl, .header-1ULbqO {
                background-color: rgba(0, 0, 0, 0.747);
                border-radius: 10px;
            }

            .categoryList-2GgCrD, .categoryList-2qRrlj {
                background-color: rgba(0, 0, 0, 0.747);
            }

            .inspector-DFKXwB {
                background-color: transparent;
            }

            .navButtonActive-1EqC5l {
                background-color: rgba(0, 0, 0, 0.288);
            }


    /* Messages */
        .messageListItem-ZZ7v6g, .wrapper-15CKyy {
            background-color: rgba(0, 0, 0, 0.521);
            border-radius: 10px;
            margin: 3px 10px;
        }

        .messageListItem-ZZ7v6g .message-2CShn3, .contents-1UYEBX {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        /* Reactions */
            .reaction-3vwAF2 {
                background: rgba(0, 0, 0, 0.219);
            }

        /* Thread */
            .container-3i3IzO {
                background-color: rgba(0, 0, 0, 0.322);
                border-radius: 10px;
            }

        /* Code */
            .messageContent-2t3eCI code {
                background-color: rgba(0, 0, 0, 0.418);
                border-radius: 10px;
            }

        /* Control Buttons */
            .wrapper-2vIMkT {
                background-color: rgba(0, 0, 0, 0.534);
            }
        
        /* Embed */
            .embedFull-1HGV2S {
                background-color: rgba(0, 0, 0, 0.377);
            }

.container-2cd8Mz, .chatContent-3KubbW {
    background-color: transparent !important;
}


/* Member Bar */
.membersWrap-3NUR2t {
    max-width: 240px;
    min-width: 240px;
}

.members-3WRCEx{
    background-color: transparent;
}

.container-2o3qEW {
    background-color: transparent;
}

.membersWrap-3NUR2t {
    background-color: rgba(0, 0, 0, 0.384) !important;
}

.hiddenMembers-8kpYM0 {
    justify-content: inherit;
}

.content-yjf30S {
    width: 100%;
}

    /* Role Header */
    .membersGroup-2eiWxl {
        padding: 7px;
        height: 30px;
        display: flex;
        align-items: center;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.055)  2% 50%, transparent);
        border-bottom: 1px solid rgba(255, 255, 255, 0.199);
        margin: 20px 00 0;
    }
       

    /* Users */
    .content-1U25dZ {
        display: flex;
        flex-flow: row wrap;
    }

    .member-2gU6Ar {
        margin: 0;
        max-width: none;
        transition: all 0.5s ease !important;
    }

    .content-1U25dZ .nameAndDecorators-3ERwy2 {
        z-index: 1;
        min-width: 90%;
        flex: 1 1 auto;
    }

    .memberInner--L4X2b {
        padding: 0 7px;
    }

    .content-1U25dZ .nameAndDecorators-3ERwy2 .username-i5-wv- span::before {
        content: "";
        position: absolute;
        height: 44px;
        right: 0;
        top: 0;
        background: linear-gradient(to right, currentColor 2% 50%, transparent);
        opacity: 0.2;
        z-index: -1;
        left: 0;
        transition: all 1s ease;
    }

    .member-2gU6Ar:hover .username-i5-wv- span::before {
        opacity: 0.4;
        border-radius: 5px !important;
    }

    .member-2gU6Ar:hover {
        transform: scale(0.95);
    }

   
